/* * Nos variables de couleur toutes rassemblées */
:root {
    --fond: #000000;
    --board-color-one: #c2c2c2;
    --board-color-two: #3b3b3b;
    --pieces-white: #ffd700;
    --pieces-black: #310404;
    --pieces-border: #646464;
}

body {
    font-family: 'Fraunces', serif;
    background-color: var(--fond);
}

.board {
    margin: 50px;
    border: 6px solid var(--board-color-one);
    background-color: var(--board-color-two);
    width: 704px;
    height: 704px;
    min-width: 704px;
    min-height: 704px;
    border-radius: 10px;
}

.board,
.letterContainer,
.numberContainer,
.casesContainer {
    display: flex;
    flex-wrap: wrap;
}

.letterContainer {
    width: 644px;
    height: 32px;
    min-width: 644px;
    min-height: 32px;
}

.letter:nth-child(1), .letter:nth-child(8), .letter:nth-child(9), .letter:nth-child(16) {
    padding-left: 1.95px;
}

.numberContainer {
    width: 32px;
    height: 640px;
    min-width: 32px;
    min-height: 640px;
}

.casesContainer {
    width: 640px;
    height: 640px;
    min-width: 640px;
    min-height: 640px;
}

.casesContainer,
div {
    display: flex;
    align-content: flex-start;
}

.corner {
    width: 30px;
    height: 30px;
}

.letter, .number, .case {
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    color: var(--board-color-one);
}

.letter {
    width: 80px;
    height: 30px;
}

.number {
    width: 30px;
    height: 55px;
    padding-top: 25px;
}

.case {
    height: 80px;
    width: 80px;
    max-width: 80px;
    max-height: 80px;
    background-size: 100%;
    align-items: flex-end;
}

.case--w {
    background-color: var(--board-color-one);
}

.case--b {
    background-color: var(--board-color-two);
}

div[class*='pC--'] {
    stroke-width: 25px;
    cursor: pointer;
}

.pC--white {
    color: var(--pieces-white);
    stroke: var(--pieces-border);
}

.pC--black {
    color: var(--pieces-black);
    stroke: var(--pieces-border);
}

.case svg {
    margin-bottom: 5%;
}

.pawn {
    height: 70%;
}

.rook,
.knight {
    height: 80%;
}

.bishop,
.queen {
    height: 85%;
}

.king {
    height: 90%;
}


.selectedCase {
    width: 74px;
    height: 74px;
    background-size: 85px;
    background-position: -5.5px -5.5px;
    background-color: rgb(73, 136, 81);
    border: 3px solid rgb(54, 100, 60);
    border-radius: 5px;
}

.possibleCase {
    width: 74px;
    height: 74px;
    background-size: 85px;
    background-position: -5.5px -5.5px;
    background-color: rgb(136, 114, 73);
    border: 3px solid rgb(95, 80, 51);
    border-radius: 5px;
}

.unclickable {
    pointer-events: none;
}









.game_summary {
    margin: 50px;
}

th,
td {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

th {
    font-weight: 700;
    background-color: lightskyblue;
}

tr:nth-child(2n) {
    background-color: lightpink;
}

tr:nth-child(2n+1) {
    background-color: lightgrey;
}

.emptyTD {
    background-color: var(--fond);
}