body {
    font-family: 'Fraunces', serif;
    background-color: #858585;
}

.main {
    display: flex;
}

.board {
    display: flex;
    flex-wrap: wrap;
    border: 6px solid #0F0909;
    margin: 50px;
    background-color: #ffffff;
    width: 704px;
    height: 704px;
    min-width: 704px;
    min-height: 704px;
}

.corner {
    width: 32px;
    height: 32px;
}

.letter {
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.number {
    width: 30px;
    height: 55px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding-top: 25px;
}

.case {
    height: 80px;
    width: 80px;
    max-width: 80px;
    max-height: 80px;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.case--white {
    background-color: #0F0909;
}

.case--black {
    background-color: #ffffff;
}

.pieceColor--white {
    stroke-width: 10px;
    color: #e4e4e4;
    stroke: #646464;
    cursor: pointer;
}

.pieceColor--black {
    stroke-width: 10px;
    color: #6b6b6b;
    stroke: #000000;
    cursor: pointer;
}

.case img {
    margin-bottom: 5%;
}

.pawn {
    height: 70%;
}

.rook {
    height: 80%;
}

.knight {
    height: 80%;
}

.bishop {
    height: 85%;
}

.queen {
    height: 85%;
}

.king {
    height: 90%;
}

/* .ext {
    border: 50px solid #523124;
        border: 50px solid #523124;
    border: 5px solid #EDE4CE;
    background-color: rgb(73, 136, 81);
    border: 3px solid rgb(54, 100, 60);
    background-color: rgb(136, 114, 73);
    border: 3px solid rgb(95, 80, 51);
}

.color:nth-child(2n + 1) {
    background-color: #EDE4CE;
}

.color:nth-child(2n) {
    background-color: #523124;
}

.game_summary {
    margin: 50px;
}

th,
td {
    padding: 3px;
    border-right: 1px solid black;
}

.case.selectedCase {
    width: 74px;
    height: 74px;
    background-size: 85px;
    background-position: -5.5px -5.5px;
    background-color: rgb(73, 136, 81);
    border: 3px solid rgb(54, 100, 60);
    border-radius: 5px;
}

.case.possibleCase {
    width: 74px;
    height: 74px;
    background-size: 85px;
    background-position: -5.5px -5.5px;
    background-color: rgb(136, 114, 73);
    border: 3px solid rgb(95, 80, 51);
    border-radius: 5px;
} */